<div class="sidebar-module">
  <h4><%= t 'tags.index.title' %></h4>
  <ol class="list-unstyled">
    <li><%= t 'general.coming_soon' %>: <a href="https://github.com/home-page/home_page_blog/issues/16">Blog Issue #3</a></li>
  </ol>
</div>